<h2>General stats for file: {{ file }}</h2>
<div style="float: left">
  {{table}}
</div>
{{ table }}


<div class="tab">
  <button class="tablinks" onclick="openImg(event, 'dist')">Distrubution</button>
  <button class="tablinks" onclick="openImg(event, 'heat')">Heatmap</button>
  <button class="tablinks" onclick="openImg(event, 'pca')">PCA analysis</button>
</div>

<div id="dist" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  {{ hist }}
  <p>Value distrubution of data.</p>
</div>

<div id="heat" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  {{ heat }}
  <p>Heatmap of data matrix.</p>
</div>

<div id="pca" class="tabcontent">
  <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
  {{ pca }}
  <p>2D PCA analysis of data.</p>
</div>

